{
  "device_name": "{{ device_name }}",

  "storage_path" : "{{ storage_path }}",
  "pid_file" : "/var/run/resilio-sync/sync.pid",


  "webui" :
  {
    "listen" : "{{ webui_listen }}" // remove field to disable WebUI
    "force_https": {{ force_https }}
  }

}
