{
   "device_name": "{{ device_name }}",
// "listening_port" : 0, // 0 - randomize port

/* storage_path dir contains auxilliary app files if no storage_path field: .sync dir created in current working directory */
  "storage_path" : "{{ storage_path }}",

/* set location of pid file */
  "pid_file" : "/run/resilio/resilio.pid",

/* use UPnP for port mapping */
  "use_upnp" : "{{ use_upnp }}",

/* limits in kB/s. 0 - no limit */
  "download_limit" : 0,
  "upload_limit" : 0,

  "webui" :
  {
    "listen" : "{{ webui_listen }}" // remove field to disable WebUI
  }

}
